@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}


.stat-gradient-background {
  background: linear-gradient(
    135deg,
    #1e40af 0%,     /* deep blue */
    #4338ca 30%,    /* indigo */
    #d30964 65%,    /* pink */
    #f58529 100%    /* soft orange */
  );
}
